body{
    background-image: url(../src/components/assets/Background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
  }
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  